@model AgendaPro.Models.Scheduling.Appointment

@{
    ViewData["Title"] = "Detalhes do Agendamento";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ClientName)</dt>
        <dd class="col-sm-9">@Model.ClientName</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ClientEmail)</dt>
        <dd class="col-sm-9">@Model.ClientEmail</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Date)</dt>
        <dd class="col-sm-9">@Model.Date.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Service.Name)</dt>
        <dd class="col-sm-9">@Model.Service?.Name</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.AppointmentStatus.Name)</dt>
        <dd class="col-sm-9">@Model.AppointmentStatus?.Name</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.AppointmentType.Name)</dt>
        <dd class="col-sm-9">@Model.AppointmentType?.Name</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Voltar</a>
</div>
